// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

h1.heading {
  @include h1();
}

h2.heading {
  @include h2();
}

h3.heading {
  @include h3();
}

h4.heading {
  @include h4();
}

h5.heading {
  @include h5();
}

h6.heading {
  @include h6();
}

.heading {
  @include heading();
  margin-bottom: halve($inuit-base-spacing-unit);
  @include text-align();
  @include vertical-margin();
}

.heading--large {
  font-size: 125%;
}

.heading--small {
  font-size: 75%;
}

.heading--strong {
  font-weight: $text-strong-font-weight;
}

.heading--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
